{% extends 'base.html' %}

{% block content %}
	<!-- about -->
	<section class="section" style="margin-top: 5rem;">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12">
					<h2 class="section__title"><b>FLIXANDREX</b> – Лучшее место для просмотра фильмов/сериалов</h2>
				</div>
				<!-- end section title -->

				<!-- section text -->
				<div class="col-12">
					<p class="section__text"><a href="">Широкий выбор контента:</a> FLIXANDREX предлагает широкий выбор контента, включая последние новинки, классические фильмы и сериалы, а также международные хиты. Вы всегда найдете что-то новое и интересное для просмотра. <a href="">Доступность на различных устройствах:</a> FLIXANDREX доступен на различных устройствах, включая телевизоры, компьютеры, смартфоны и планшеты. Это означает, что вы можете смотреть свои любимые фильмы и сериалы где угодно и когда угодно.</p>

					<p class="section__text section__text--last-with-margin"><a href="">Стабильная и качественная потоковая передача:</a> FLIXANDREX предлагает стабильную и качественную потоковую передачу. Вы можете наслаждаться любимыми фильмами и сериалами без перерывов и задержек.</p>
				</div>
				<!-- end section text -->

				<!-- feature -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="feature">
						<i class="icon ion-ios-tv feature__icon"></i>
						<h3 class="feature__title">HD Картинка</h3>
						<p class="feature__text">HD изображения обеспечивают более четкое и детализированное изображение, чем изображения с более низким разрешением. Это означает, что вы можете увидеть больше деталей в изображении, таких как текстуры, линии и цвета.</p>
					</div>
				</div>
				<!-- end feature -->

				<!-- feature -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="feature">
						<i class="icon ion-ios-film feature__icon"></i>
						<h3 class="feature__title">Фильмы</h3>
						<p class="feature__text">Фильмы могут быть отличным способом узнать о новых вещах. Они могут рассказать нам о других культурах, истории и науке. Если вы ищете способ развлечься, узнать что-то новое или просто вдохновиться, фильмы - это отличный выбор.</p>
					</div>
				</div>
				<!-- end feature -->

				<!-- feature -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="feature">
						<i class="icon ion-ios-trophy feature__icon"></i>
						<h3 class="feature__title">Премии</h3>
						<p class="feature__text">Премии могут иметь большое значение для тех, кто их получает. Они могут быть признанием их достижений, а также стимулом к дальнейшему развитию. Премии также могут повысить узнаваемость и престиж тех, кто их получает.</p>
					</div>
				</div>
				<!-- end feature -->

				<!-- feature -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="feature">
						<i class="icon ion-ios-notifications feature__icon"></i>
						<h3 class="feature__title">Уведомления</h3>
						<p class="feature__text">Когда на сайте публикуется новая статья, новость или событие, вы получите уведомление о ней. Это позволит вам быть в курсе последних событий и не пропустить ничего важного.</p>
					</div>
				</div>
				<!-- end feature -->

			</div>
		</div>
	</section>
	<!-- end about -->

	<!-- how it works -->
	<section class="section section--dark">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12">
					<h2 class="section__title section__title--no-margin">Как это работает?</h2>
				</div>
				<!-- end section title -->

				<!-- how box -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="how">
						<span class="how__number">01</span>
						<h3 class="how__title">Создайте аккаунт</h3>
						<p class="how__text">Создание аккаунта на нашем сайте позволит вам воспользоваться всеми его возможностями.</p>
					</div>
				</div>
				<!-- ebd how box -->

				<!-- how box -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="how">
						<span class="how__number">02</span>
						<h3 class="how__title">Выбор фильма/сериала</h3>
						<p class="how__text">Вы можете отобрать понравившиеся вам контент и узнать о нем подробную информации нажав на него.</p>
					</div>
				</div>
				<!-- ebd how box -->

				<!-- how box -->
				<div class="col-12 col-md-6 col-lg-4">
					<div class="how">
						<span class="how__number">03</span>
						<h3 class="how__title">Наслаждаться FLIXANDREX</h3>
						<p class="how__text">Никаких ошибок и багов.</p>
					</div>
				</div>
				<!-- ebd how box -->
			</div>
		</div>
	</section>
	<!-- end how it works -->
{% endblock %}