{% extends 'base.html' %}

{% block content %}
<section class="section" style="margin-top: 5rem;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="faq">
                    <h3 class="faq__title">Почему не загружается видео?</h3>
                    <p class="faq__text">Если у вас медленное или нестабильное подключение к Интернету, видео может не загружаться или загружаться с ошибками. Попробуйте перезагрузить роутер или модем, или подключиться к другому источнику Wi-Fi.</p>
                    <p class="faq__text">Проблемы с серверами сайта. Если серверы сайта перегружены или испытывают технические проблемы, видео может не загружаться. Попробуйте загрузить видео позже или выбрать другое видео.</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">Почему нет HD-версии этого видео?</h3>
                    <p class="faq__text">Видео изначально было снято в SD-разрешении. В этом случае создание HD-версии требует дополнительной обработки видео и может быть дорогостоящим или технически сложным.</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">Почему звук искажается?</h3>
                    <p class="faq__text">Если звук был обработан неправильно, это может привести к искажению звука при воспроизведении. Например, если звук был усилен слишком сильно, это может привести к перегрузке звука и искажению.</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">Почему видео заикается, буферизуется или произвольно останавливается?</h3>
                    <p class="faq__text">Если серверы сайта перегружены или испытывают технические проблемы, видео может заикаться, буферизоваться или произвольно останавливаться. Попробуйте загрузить видео позже или выбрать другое видео.</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">При изменении качества видео ничего не происходит.</h3>
                    <p class="faq__text">Это может быть вызвано рядом факторов, включая медленное подключение к Интернету, перегруженные серверы или проблемы с кодеками.</p>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="faq">
                    <h3 class="faq__title">Почему видео не начинается с самого начала?</h3>
                    <p class="faq__text">Это может быть вызвано неправильным использованием сайта или ошибкой в программном обеспечении сайта.</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">Как сделать так, чтобы видео отображалось в полноэкранном режиме?</h3>
                    <p class="faq__text">Найдите кнопку полноэкранного режима в проигрывателе видео. Обычно эта кнопка находится в правом нижнем углу проигрывателя.</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">Какие браузеры поддерживаются?</h3>
                    <p class="faq__text">Google Chrome: версии 76 и выше ; Mozilla Firefox: версии 85 и выше ; Microsoft Edge: версии 90 и выше ; Safari: версии 15 и выше</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">Как вы обеспечиваете мою конфиденциальность?</h3>
                    <p class="faq__text">Мы не собираем никакую личную информацию о вас, кроме вашего имени и адреса электронной почты. Эта информация используется только для того, чтобы связаться с вами и предоставить вам поддержку.</p>
                </div>

                <div class="faq">
                    <h3 class="faq__title">Как я могу с вами связаться?</h3>
                    <p class="faq__text">Ниже страницы написаны контактные данные для связи с нами.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}